<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css"
          integrity="sha384-eoTu3+HydHRBIjnCVwsFyCpUDZHZSFKEJD0mc3ZqSBSb6YhZzRHeiomAUWCstIWo" crossorigin="anonymous">
    <title>Crypto tracker</title>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>


<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check" viewBox="0 0 16 16">
        <title>Check</title>
        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
    </symbol>
</svg>

<div class="container py-3">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="{% url 'crypto_list' %}"
           class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" fill="currentColor"
                 class="bi bi-currency-bitcoin" viewBox="0 0 16 16">
                <path d="M5.5 13v1.25c0 .138.112.25.25.25h1a.25.25 0 0 0 .25-.25V13h.5v1.25c0 .138.112.25.25.25h1a.25.25 0 0 0 .25-.25V13h.084c1.992 0 3.416-1.033 3.416-2.82 0-1.502-1.007-2.323-2.186-2.44v-.088c.97-.242 1.683-.974 1.683-2.19C11.997 3.93 10.847 3 9.092 3H9V1.75a.25.25 0 0 0-.25-.25h-1a.25.25 0 0 0-.25.25V3h-.573V1.75a.25.25 0 0 0-.25-.25H5.75a.25.25 0 0 0-.25.25V3l-1.998.011a.25.25 0 0 0-.25.25v.989c0 .137.11.25.248.25l.755-.005a.75.75 0 0 1 .745.75v5.505a.75.75 0 0 1-.75.75l-.748.011a.25.25 0 0 0-.25.25v1c0 .138.112.25.25.25L5.5 13zm1.427-8.513h1.719c.906 0 1.438.498 1.438 1.312 0 .871-.575 1.362-1.877 1.362h-1.28V4.487zm0 4.051h1.84c1.137 0 1.756.58 1.756 1.524 0 .953-.626 1.45-2.158 1.45H6.927V8.539z"/>
            </svg>
            <span class="fs-4">Crypto Tracker</span>
        </a>
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="{% url 'crypto_list' %}" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="{% url 'watchlist' %}" class="nav-link">Watchlist</a></li>
        </ul>
        <div class="col-md-3 text-end">
            {% if user.is_authenticated %}
                <a type="button" class="btn btn-outline-primary me-2" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a type="button" class="btn btn-outline-primary me-2" href="{% url 'login' %}">Login</a>
                <a type="button" class="btn btn-primary" href="{% url 'sign_up' %}">Sign-up</a>
            {% endif %}
        </div>
    </header>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        {% block title %}
            <h1 class="display-4 fw-normal">Tracking</h1>
            <p class="fs-5 text-muted">Here you can track prices of most popular cryptocurrencies</p>
        {% endblock %}
    </div>

    <main>
        {% block content %}
            <div class="table-responsive">
                <table class="table text-center">
                    <thead>
                    <tr>
                        <th style="width: 34%;"></th>
                        <th style="width: 22%;">Symbol</th>
                        <th style="width: 22%;">Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for crypto in queryset.cryptocurrency_list %}
                        <tr>
                            <th scope="row" class="text-start">{{ crypto.name }}</th>
                            <td>
                                <p>{{ crypto.symbol }}</p>
                            </td>
                            <td>
                                <p>${{ crypto.price }}</p>
                            </td>
                            {% if user.is_authenticated %}
                                <td>
                                    {% if crypto in queryset.watchlist %}
                                        <a href="{% url 'remove_from_watchlist' uuid=crypto.id %}"
                                           class="btn btn-danger">Remove
                                            from watchlist</a>
                                    {% else %}
                                        <a href="{% url 'add_to_watchlist' uuid=crypto.id %}" class="btn btn-primary">Add
                                            to
                                            watchlist</a>
                                    {% endif %}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}

                    </tbody>

                </table>
            </div>
        {% endblock %}
    </main>

</div>


</body>
</html>