{% extends 'index.html' %}

{% block title %}
    <h1 class="display-4 fw-normal">Watchlist</h1>
    {% if cryptocurrency_list %}
        <p class="fs-5 text-muted">Here you can track prices of cryptocurrencies which are in your watchlist</p>
    {% else %}
        <p class="fs-5 text-muted">You have no cryptocurrencies in your watchlist yet. You can add some on home page</p>
    {% endif %}
{% endblock %}

{% block content %}
    {% if cryptocurrency_list %}
    <div class="table-responsive">
        <table class="table text-center">
            <thead>
            <tr>
                <th style="width: 34%;"></th>
                <th style="width: 22%;">Symbol</th>
                <th style="width: 22%;">Price</th>
            </tr>
            </thead>
            <tbody>
            {% for crypto in cryptocurrency_list %}
                <tr>
                    <th scope="row" class="text-start">{{ crypto.name }}</th>
                    <td>
                        <p>{{ crypto.symbol }}</p>
                    </td>
                    <td>
                        <p>${{ crypto.price }}</p>
                    </td>
                    <td>
                        <a href="{% url 'remove_from_watchlist' uuid=crypto.id %}" class="btn btn-danger">Remove from
                            watchlist</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
    {% endif %}
{% endblock %}
