{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <h1 class="display-4 fw-normal">Registration</h1>
{% endblock %}

{% block content %}
    <form method="post" class="my-class">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Sign-up</button>
    </form>
{% endblock %}