<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <table>
        <thead>
        <tr>
            <th></th>
            <th>Symbol</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        {% for crypto in watchlist %}
            <tr>
                <th scope="row">{{ crypto.name }}</th>
                <td>
                    <p>{{ crypto.symbol }}</p>
                </td>
                <td>
                    <p>${{ crypto.price }}</p>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>